.about{
    background-color: #F6F6F6;
}
.about__inner h1{
}

.passage-head{
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 34px;
    text-align: center;
    padding: 56px 0 42px;

}
.about__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 11px;
    padding-bottom: 98px;

}



p{
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 18px;
    text-align: center;

}

.about__text hr{
    width: 100%;
}